/* Loader from: https://codepen.io/pgalor/pen/PvmgZo */
.loader {
  width: 89px;
  height: 89px;
  place-self: center;
  position: relative;
  background: rgba(255,255,255,0.13);
  animation-duration: 2.5s;
  animation-name: animSpin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
   
@keyframes animSpin{
  50%{
    transform: rotateZ(180deg) scale(.94);
  }
  100%{
    transform: rotateZ(360deg) scale(1);
  }
}

.loader,
.loader:before,
.loader:after{
  border-radius: 50%;
}

.loader:before,
.loader:after{
  content: '';
  position: absolute;
  border: 8px solid transparent;
}

.loader:before{
  width: 75%;
  height: 75%;
  background: rgba(255,255,255,.13);
  left: 12.5%;
  top: 12.5%;
  border-left: 8px solid rgba(255,255,255,.34);
  border-bottom: 8px solid rgba(255,255,255,.34);
}

.loader:after{
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
  border-right: 8px solid rgba(255,255,255,1);
  border-left: 8px solid rgba(255,255,255,1);
  border-bottom: 8px solid rgba(255,255,255,1);
}