.contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0.8rem 1.5rem;
}
.contact-info__link {
    color: var(--clr-neutral-200);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}
.contact-info__link:hover, .contact-info__link:active {
    color: var(--clr-neutral-300);
}